body
{
    /*background-image: url(img/bg6.jpg);
    background-size: cover;*/
    background-color:#eafed0;
}
#xkk_h1
{
    color:orange;
    text-align:center;
    font-size:40px;
}
#xkk_p
{
    color:black;
    text-align:center;
    font-size:20px;
}
